# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Optimization Visualized
email: hawkoli1987@gmail.com
description: >- # this means to ignore newlines until "baseurl:"  

baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
# github_username:  hawkoli1987

# Build settings
theme: jekyll-theme-hydejack
accent_image: /assets/images/balance.jpg

plugins:
  - jekyll-feed
  - jekyll-toc
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
collections:
  algorithms:
    output: true
    # permalink: /:title/
    sort_by: "order"
    sort_order: "asc"
    sources:
      - algorithms/

collections:
  topics:
    output: true
    # permalink: /:title/
    # sort_by: "order"
    # sort_order: "asc"
    sources:
      - topics/

menu:
  - title: Introduction
    url:   /topics/0-introduction.html
  - title: Unconstrained Gradient-based
    url:   /topics/1-gradient based.html
  - title: Fixed Step Methods
    url:   /topics/1.1-fixedstep.html
  - title: Searched Step Methods
    url:   /topics/1.2-searchedstep.html
  - title: Second Order Methods
    url:   /topics/1.3-secondorder.html
  - title: Trust Region Methods
    url:   /topics/1.4-trustregion.html
  - title: Constrained
    url:   /topics/2-constrained.html
  - title: Lagrangian Multiplier Method
    url:   /topics/2.1-lagrangian.html    
  - title: Sequential Quadratic Programming
    url:   /topics/2.2-SQP.html
  - title: Interior Point Method
    url:   /topics/2.3-interiorpoint.html
  - title: Gradient-free
    url:   /topics/3-gradient free.html
  - title: Pattern Search Methods
    url:   /topics/3.1-pattern.html
  - title: Stochastic Methods
    url:   /topics/3.2-stochastic.html    
  - title: Population-based Methods
    url:   /topics/3.3-population.html
  - title: Surrogate Objective Methods
    url:   /topics/3.4-surrogate.html
  - title: Multi-objective
    url:   /topics/4-multi-objective.html  
  - title: Uncertainties
    url:   /topics/5-uncertainties.html
